# Dependencies
node_modules/
npm-debug.log*

# Database (uncomment if you want local database to remain private)
# dados/*.db
# dados/*.db-wal
# dados/*.db-shm

# Environment & Temp
.env
.DS_Store
Thumbs.db
*.log
